# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
